@import '../static/iconfont/remixicon.css';
@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body, html, #root {
  height: 100%;
}

* {
  font-family: Arial, "微软雅黑";
}

/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
/*滚动条的轨道*/
::-webkit-scrollbar-track {
  background-color: transparent;
}
/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bebebe;
}
/*滚动条的上下两端的按钮*/
::-webkit-scrollbar-button {
  display: none;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.common {
  &-button {
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 150px;
  
    padding: 10px;
  
    border: unset;
    border-radius: 10px;
    outline: none;
  
    color: #ffffff;
  
    background-color: $primary-color;
  }
  &-active {
    transition: transform .2s ease-out;
  
    &:active {
      transform: scale(.95);
    }
  }
  &-description {
    font-size: 13px;
    color: $common-text-description;
  }
  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;
  }
  &-ellipsis {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.fix:after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: "";
}

.launch-wrapper {
  flex-direction: column;
  justify-content: flex-start;

  position: relative;
  z-index: 10;

  width: 100%;
  min-height: 100%;

  padding-bottom: 80px;

  background-color: #ffffff;
  box-sizing: border-box;
}

.launch-library {
  width: 100%;

  padding: 20px;
  padding-bottom: 0;

  box-sizing: border-box;
}

.launch-title {
  font-size: 20px;
  font-weight: bold;
  color: $common-text-main;
}

.launch-content {
  padding-top: 20px;
}

.book {
  &-wrapper {
    position: relative;
    float: left;
  
    width: 150px;
    height: 250px;
  
    margin-right: 20px;
  }
  &-cover {
    width: 100%;
    height: 200px;
    overflow: hidden;
  
    border-radius: 10px;
  
    background-color: $primary-color-pale;
  }
  &-title {
    width: 100%;
  
    margin: 5px 0;
  
    font-size: 15px;
  }
  &-description {
    margin: 0;
  
    font-size: 13px;
    text-align: center;
    color: #9c9c9c;
  }
  &-progress {
    position: absolute;
    right: 0;
    bottom: 38.5px;
    width: 30px;
    padding: 3px 5px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0,0,0,.3);

    &::after {
      content: '%';
    }
  }
}


.reader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  transform: scale(0);
  opacity: 0;
  transition: all .3s;

  background-color: #ffffff;

  &-active {
    z-index: 999;
    transform: scale(1);
    opacity: 1;
  }
}

.reader-content {
  width: 100%;
  height: 100%;
  overflow: hidden;

  padding: 20px;

  box-sizing: border-box;
  transition: background-color .3s ease-out, color .3s ease-out;
  & > div {
    width: 100%;
    height: 100%;
    color: inherit;
    font-family: inherit;
  }

  & p {
    margin: 0;
    color: inherit;
    font-family: inherit;
    word-break: break-word;
  }

  & rt, & rtc {
    font-size: 70%;
  }

  &-scroll {
    overflow-y: auto;

    & > div {
      display: inline;
      padding-bottom: 20px;
    }
  }

  &-page > div {
    column-count: 2;
    column-width: 600px;
    column-gap: 100px;
  }
}

.reader-tools {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  z-index: 999;
  
  width: 520px;
  height: 45px;
  
  margin: 0 auto;
  padding: 10px;

  border-radius: 10px;

  color: $common-text-main;
  font-size: 15px;
  user-select: none;

  background-color: $primary-color-pale;
  transform: translate3d(0, 80px, 0);
  box-shadow: 0 0 10px 0 rgba(55, 55, 55, .2);
  
  transition: transform .15s ease-out;

  &-focus {
    transform: translate3d(0, 0, 0) !important;
  }
}

.reader-detail {
  @extend .reader-tools;

  display: block !important;

  top: 0px;
  bottom: unset;

  width: 100%;
  height: 70px;

  border-radius: unset;

  transform: translate3d(0, -80px, 0);
  box-sizing: border-box;

  & * {
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.reader-tool {
  position: relative;
  margin-right: 0;
  padding: 15px;
  border-radius: 5px;
  
  &:hover {
    background: rgba(66, 66, 66, 0.1);
  }
  &:hover &-tips {
    transform: translate3d(-50%, -25px, 0);
    opacity: 1;
    visibility: visible;
  }

  &-tips {
    position: absolute;
    top: 0;
    left: 50%;
  
    width: 50px;
  
    padding: 8px;
  
    color: #ffffff;
    text-align: center;
    font-size: 12px;
  
    border-radius: 5px;
    background: rgba(76, 76, 76, .7);
    transition: transform .2s ease-out, opacity .2s ease-out;
    transform: translate3d(-50%, -15px, 0);
    opacity: .5;
    visibility: hidden;
  }
  &-disabled {
    color: rgba(50, 50, 50, .1);
    background-color: unset !important;
    transform: unset !important;

    & .reader-tool-tips {
      visibility: hidden !important;
    }
  }
  &-enabled {
    color: $primary-color-light;
  }
}

.reader-pnum {
  width: 70px;
  text-align: center;
  background-color: unset !important;

  &:hover .reader-tool-tips {
    transform: translate3d(-50%, -22px, 0) !important;
  }
}

.secondary-menu {
  visibility: hidden;
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  z-index: 1001;
  width: 520px;
  user-select: none;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: $primary-color-pale;
  transition: transform .2s ease-out, opacity .2s ease-out;
  transform: translate3d(0, 20px, 0);
  opacity: 0;
  box-shadow: 0 0 10px 0 rgba(55, 55, 55, .2);
  box-sizing: border-box;
}
.s-m {
  &-active {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  &-row {
    flex-direction: column;
    padding: 10px 10px 15px 10px;
    align-items: flex-start;
  }
  &-title {
    font-size: 13px;
    color: rgba(20, 20, 20, .5);
    margin-top: 0;
  }
  &-font {
    justify-content: space-between;

    &-style {
      flex-direction: column;
    }
    &-item {
      width: calc(100% - 10px) !important;
      margin: 0;
      padding: 15px;
      border-radius: 6px;
      font-size: 15px;
      box-sizing: border-box;

      &:hover {
        background: rgba(50, 50, 50, .1);
      }
      &-active {
        color: $primary-color-light;
        font-weight: bold;
      }
    }
  }
  &-color {
    flex-direction: column;
    &-plan {
      width: 50px;
      height: 50px;

      border-radius: 50%;

      font-size: 35px;
      font-weight: bold;
      &-current::after {
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        background: $primary-color-light;
        transform: rotate(-45deg) translate3d(36px, 0, 0);
        transform-origin: bottom center;
        content: "";
      }
    }
    &-picker {
      margin-right: 20px;

      & .react-colorful {
        width: 180px;
        height: 100px;
      }
      & .react-colorful__pointer {
        width: 20px;
        height: 20px;
      }
      & .react-colorful__hue {
        height: 20px;
      }
    }
  }
  &-search {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    
    &-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 35px;
      outline: none;
      padding-left: 10px;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      font-weight: bold;
      background: $primary-color-light;
      transform: translate3d(calc(100% - 10px), 0, 0);
      transition: transform .2s ease-out;

      & [class^="ri-"] {
        margin-right: unset;
      }
      &:active {
        transform: translate3d(calc(100% - 10px), 0, 0) scale(.9);
      }
    }
    &-result {
      width: 100%;
      height: 220px;
      overflow-y: auto;
      margin-top: auto;
      &-item {
        position: relative;
        width: calc(100% - 10px) !important;
        height: 95px;
        margin: 0 auto 0 0;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        &:hover {
          background-color: rgba(50, 50, 50, .1);
        }
      }
      &-title {
        width: 380px;
        overflow: hidden;
        margin: 0;
        color: #505050;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &-text {
        display: -webkit-box;
        width: 100%;
        height: 44px;
        overflow: hidden;
        margin: 0;
        margin-top: 10px;

        line-height: 135%;
        color: $common-text-description;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      &-prog {
        position: absolute;
        top: 12px;
        right: 10px;

        color: $common-text-description;
        &::after {
          content: '%';
        }
      }
    }
  }
  &-s-loading {
    @keyframes move {
      0% {
        left: 0;
      }
      70%, 100% {
        left: 420px;
      }
    }

    position: absolute;
    left: 10px;
    top: 40px;
    width: 320px;
    height: 36px;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .5);
    &-slider {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100px;
      height: 4px;

      transform: translate3d(-100%, 0, 0);
      background-color: $primary-color-light;
      animation: move 3s linear infinite;
    }
  }
  &-input {
    width: 260px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: $common-text-main;
    background-color: rgb(224 224 224);
    transform: translate3d(0, 0, 0);
  }
}

.reader-nav {
  flex-direction: column;
  justify-content: start;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 350px;
  height: 100%;
  overflow: hidden;
  user-select: none;
  padding: 20px 0;
  padding-top: 60px;
  background: $primary-color-pale;
  box-sizing: border-box;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform .3s ease, opacity .3s ease-out;

  &-label {
    position: relative;
    right: 0;
    width: calc(100% - 40px) !important;
    height: 55px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 10px;
    border-radius: 10px;
    color: $common-text-main;
    font-weight: bold;
    box-sizing: border-box;
    & p {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:hover {
      background: rgba(50, 50, 50, .1);
    }
    &::after {
      display: block;
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      width: 10px;
      height: 10px;
      margin: auto;
      border-radius: 50%;
      background-color: rgba(50, 50, 50, .3);
      content: '';
    }
    &-active {
      &::after {
        background-color: $primary-color;
      }
    }
  }
  &-sub {
    padding-left: 70px;
    font-weight: unset;
    &::after {
      left: 45px;
      transform: scale(.9) rotate(45deg);
      border-radius: unset;
    }
  }
  &-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  &-menu {
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    & > span {
      position: relative;
      overflow: hidden;
      padding: 10px 30px;
      border-radius: 10px;
      color: #909090;
      font-weight: bold;

      &:hover {
        background-color: rgba(50, 50, 50, .1);
      }
    }
  }
  &-m-active {
    color: $primary-color !important;
    &::after {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      height: 3px;
      margin: 0 auto;
      background-color: $primary-color;
      content: '';
    }
  }
}

.reader-bookmark {
  position: relative;
  width: calc(100% - 40px);
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  padding-left: 40px;
  padding-right: 50px;

  border-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;

  &:hover {
    background-color: rgba(50, 50, 50, .1);
  }
  &::after {
    display: block;
    position: absolute;
    left: 14px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent rgba(50, 50, 50, .3) transparent;
    
    content: '';
  }
  &-prog {
    position: absolute;
    right: 14px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 17px;
    color: $common-text-description;
  }
}

.com {
  &-slider {
    $color: #ae08b5;
    width: 200px;
    &-track {
      height: 6px;
      border-radius: 5px;
      cursor: pointer;
      &-0 {
        background-color: $color;
      }
      &-1 {
        background-color: rgba(50, 50, 50, .1);
      }
    }
    &-thumb {
      width: 12px;
      height: 12px;
  
      border: 2px solid $color;
      border-radius: 12px;
      outline: none;
      background-color: #ffffff;
  
      transform: translate3d(0, -5px, 0);
      cursor: pointer;
    }
    &-tips {
      @extend .reader-tool-tips;
      top: -100%;
      width: 20px;
      user-select: none;
    }
    &:active .com-slider-tips {
      transform: translate3d(-50%, -25px, 0);
      opacity: 1;
      visibility: visible;
    }
  }
  &-contextmenu {
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    user-select: none;
    padding: 10px;
    border-radius: 8px;
    color: #5a5a5a;
    background: $primary-color-pale;
    transform: scaleY(.7);
    transform-origin: top;
    transition: transform .15s ease-out;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, .4);
  }
  &-c-item {
    width: 80px;
    padding: 10px;
    border-radius: 6px;

    &:hover {
      background-color: rgba(50, 50, 50, .1);
    }
  }
  &-c-active {
    visibility: visible;
    transform: scaleY(1);
  }
  &-c-title {
    margin: 0;
    font-size: 13px;
  }
  &-p-animation {
    $color: rgba(165, 165, 165, .1);
    @keyframes slide {
      0% {
        transform: translate3d(-20px, 0, 0);
      }
      100% {
        transform: translate3d(170px, 0, 0);
      }
    }

    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: $color;
    box-shadow: 0 0 10px 10px $color;
    animation: slide 1.5s cubic-bezier(.77, 0, .18, 1) infinite;
  }
  &-p-a {
    &-1, &-2, &-3 {
      position: absolute;
      left: 0;
      width: 100%;
      overflow: hidden;
    }
    &-1 {
      top: 0;
      height: 200px;
    }
    &-2 {
      top: 207.5px;
      height: 15px;
    }
    &-3 {
      top: 230px;
      height: 15px;
    }
  }
  &-p-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 15px;
    background-color: #ffffff;
    transform: translate3d(0, 0, 0)
  }
}
// Toast 组件部分
.c-toast {
  &-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: -1;
    width: 450px;
    margin: auto;
    font-size: 13px;
    transform: scaleY(0);
    transition: all .2s ease-out;
  }
  &-main {
    position: absolute;
    z-index: 999;
    user-select: none;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    color: #888888;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #f7f7f7;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, .3);
  }
  &-detail {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 0;
    padding: 20px;
    padding-top: 60px;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #b7a1ff;
    background: #2e003e;
    transition: height .3s ease-out;
    box-sizing: border-box;

    & div {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding-right: 5px;
    }
    & p {
      margin-bottom: 0;
      white-space: pre-wrap;
    }
  }
  &-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    height: 40px;
    margin: auto 0;
    padding: 5px 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #afafaf;
    background: none;
    box-sizing: border-box;
    &:hover {
      background-color: rgba(50, 50, 50, .1);
    }
  }
}
.c-t {
  &-has-detail {
    & .c-toast-main {
      padding-right: 76.66px;
    }
  }
  &-is-active {
    transform: scaleY(1);
    z-index: 9999;
  }
  &-view-more {
    & .c-toast-detail {
      height: 160px;
    }
  }
}
// Toast 组件部分完